Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, markdown-lint

format:
  run: uv run --no-group=orjson ruff format {staged_files}
  stage-fixed: true

lint:
  run: uv run --no-group=orjson ruff check {staged_files}
  stage-fixed: true

markdown-lint:
  run: uv run mdformat {staged_files}
  stage-fixed: true

♻️ enhance overload
  src/numpy-stubs/_core/umath.pyi
Due: format, lint

🔥 remove lint config
  lefthook.yml
Due: none

🐛 recover typo
  src/numpy-stubs/_core/umath.pyi
Due: format, lint

♻️ minor corrections in `_core.umath._Call11Bool` (#386)
  src/numpy-stubs/_core/umath.pyi
Due: format, lint

✨ add post-checkout and post-merge hooks
  lefthook.yml
Due: none

🎨 fix indent
  lefthook.yml
Due: none

🧑‍💻 add `lefthook` for pre-commit formatting and linting (#394)
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

🎨 enhance formatting in comments
  tool/format_ignores.py
Due: format, lint

♻️ improve regex pattern for ignore comments formatting
  tool/format_ignores.py
Due: format, lint

👷 add `format-ignores` step to CI
  .github/workflows/ci.yml
Due: none

♻️ add overload for complex 0d input and update ufunc definitions to use _Call11Inexact
  src/numpy-stubs/_core/umath.pyi
Due: format, lint

🏷️ stub unary ufuncs `[arc]{cos,sin,tan}[h]`, `exp*`, `log*`, and `rint` (#379)
  src/numpy-stubs/_core/umath.pyi
Due: format, lint

👷 add `format-ignores` step to CI (#396)
  .github/workflows/ci.yml
Due: none

🐴 work around many new false-positive `overload-overlap` mypy errors
  src/numpy-stubs/ctypeslib.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/random/_generator.pyi
Due: format, lint

💥 concrete floating scalar types
  src/numpy-stubs/__init__.pyi
  test/static/accept/extended_precision.pyi
  test/static/accept/ndarray_assignability.pyi
  tool/allowlists/common-todo.txt
Due: format, lint

♻️ move the `longdouble` operator definitions to the conrete subtype
  src/numpy-stubs/__init__.pyi
Due: format, lint

♻️ move the `float16` operator definitions to the conrete subtype
  src/numpy-stubs/__init__.pyi
Due: format, lint

♻️ move the `float64` operator definitions to the conrete subtype
  src/numpy-stubs/__init__.pyi
Due: format, lint

♻️ move the `float32` operator definitions to the conrete subtype
  src/numpy-stubs/__init__.pyi
Due: format, lint

🏗️ mark more scalar-type methods as abstract
  src/numpy-stubs/__init__.pyi
Due: format, lint

🔧 disable the taplo schema's (again)
  .vscode/settings.json
Due: none

⬆️ upgrade development dependencies
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

🐛 fix lefthook config
  lefthook.yml
Due: none

🧑‍💻 `ruff check --fix` pre-commit command
  lefthook.yml
Due: none

🐴 ignore new stubtest distutils errors that suddenly appeared
  tool/allowlists/lt-py312.txt
Due: none

🔧 tox config tweaks
  pyproject.toml
Due: none

📝 write a numtype-specific contributing guide
  CONTRIBUTING.md
Due: markdown-lint

✏️ fix typo
  CONTRIBUTING.md
Due: markdown-lint

🙈 ironically, "TYP" is not a typo
  pyproject.toml
Due: none

🤖 abstract scalar binop type-tests generation
  tool/testgen.py
Due: format, lint

♻️ use different naming scheme in scalar-binop tests
  test/generated/scalar_binops.pyi
Due: format, lint

🤖 enable abstract scalar binop type-test generation
  tool/testgen.py
Due: format, lint

🔧 add ignore-format in lefthook configuration
  lefthook.yml
Due: none

🙈 ignore `B015` in generated type-tests
  test/generated/ruff.toml
Due: none

🔧 add ignore-format in lefthook configuration (#401)
  lefthook.yml
Due: none

📝 add development tools section to `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: markdown-lint

🤖 limit abstract scalar binop test generation to `[complex]floating` for now
  tool/testgen.py
Due: format, lint

🧪 generate an additional 2500+ abstract scalar-binop type-tests, with 324 failures
  test/generated/scalar_binops.pyi
Due: format, lint

📝 update development tools section in `CONTRIBUTING.md` for clarity
  CONTRIBUTING.md
Due: markdown-lint

📝 add development tools section to `CONTRIBUTING.md` (#403)
  CONTRIBUTING.md
Due: markdown-lint

Path conditions:
  format: any of: *.{py,pyi}
  lint: any of: *.{py,pyi}
  markdown-lint: any of: *.md
