Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, dprint-format, ignore-format, docs-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "*.{py,pyi}"
      run: uv run --no-sync ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.{py,pyi}"
      run: uv run --no-sync ruff format {staged_files}
      stage_fixed: true
    dprint-format:
      glob: "*.{md,json,yml,yaml,toml}"
      run: uv run --no-sync dprint fmt {staged_files}
      stage_fixed: true
    ignore-format:
      glob: "*.{py,pyi}"
      run: uv run --no-sync tool/format_ignores.py {staged_files}
      stage_fixed: true
    docs-check:
      glob:
        - "docs/**"
        - "mkdocs.yml"
        - "CONTRIBUTING.md"
      run: uv run --no-sync mkdocs build

post-checkout:
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

🩹 import `override` from `typing_extensions`
  src/_numtype/op.pyi
Due: ruff-check, ruff-format, ignore-format

🤖 default dtypes in `ndarray` binary arithmetic operator type-test generation
  src/numpy-stubs/@test/generated/.ruff.toml
  src/numpy-stubs/@test/generated/ndarray_invert.pyi
  src/numpy-stubs/@test/generated/ndarray_neg.pyi
  src/numpy-stubs/@test/generated/ndarray_pos.pyi
  src/numpy-stubs/@test/generated/ndarray_pow.pyi
  src/numpy-stubs/@test/generated/ndarray_sub.pyi
  src/numpy-stubs/@test/generated/ndarray_truediv.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, dprint-format, ignore-format

✅ fix the remaining failing `ndarray` arithmetic binop tests
  src/numpy-stubs/@test/static/reject/arithmetic.pyi
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🐴 special-case around mypy's inconsistent error codes
  src/numpy-stubs/@test/generated/ndarray_invert.pyi
  src/numpy-stubs/@test/generated/ndarray_neg.pyi
  src/numpy-stubs/@test/generated/ndarray_pos.pyi
  src/numpy-stubs/@test/generated/ndarray_truediv.pyi
  src/numpy-stubs/@test/static/reject/arithmetic.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🐴 special-case a mypy false negative
  src/numpy-stubs/@test/generated/ndarray_sub.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🐴 work around the remaining mypy issues
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
Due: ruff-check, ruff-format, ignore-format

🤖 generate `ndarray` binop type-tests for `__floordiv__` and `__mod__`
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🔥 remove redundant legacy testcases
  src/numpy-stubs/@test/static/accept/arithmetic.pyi
  src/numpy-stubs/@test/static/reject/arithmetic.pyi
Due: ruff-check, ruff-format, ignore-format

✅ fix failing `ndarray` binop tests for `__floordiv__` and `__mod__`
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/ma/core.pyi
Due: ruff-check, ruff-format, ignore-format

🤖 `ndarray.__divmod__` type-test generation
  src/numpy-stubs/@test/generated/ndarray_divmod.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

✅ fix failing `ndarray.__divmod__` tests
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🐴 special-case a mypy special-case
  src/numpy-stubs/@test/generated/ndarray_divmod.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🐴 better workaround for mypy issues with `ndarray.__{floordiv, mod}__` and `c16`
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

Merge pull request #512 from numpy/better-ndarray-floordiv-mod-mypy-workaround
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  src/numpy-stubs/__init__.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🤖 `ndarray.__{l,r}shift__` type-test generation
  src/numpy-stubs/@test/generated/ndarray_lshift.pyi
  src/numpy-stubs/@test/generated/ndarray_rshift.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🔥 remove redundant legacy `{l,r}shift` testcases
  src/numpy-stubs/@test/static/accept/bitwise_ops.pyi
Due: ruff-check, ruff-format, ignore-format

✅ fix failing `ndarray.__{l,r}shift__` tests
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🤖 `ndarray.__{and,xor,or}__` type-test generation
  src/numpy-stubs/@test/generated/ndarray_and.pyi
  src/numpy-stubs/@test/generated/ndarray_or.pyi
  src/numpy-stubs/@test/generated/ndarray_xor.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

🔥 remove redundant legacy bitwise binop testcases
  src/numpy-stubs/@test/static/accept/bitwise_ops.pyi
Due: ruff-check, ruff-format, ignore-format

✅ fix the remaining failing `ndarray` (bitwise) binop tests
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🐴 this somehow resolves a completely unrelated mypy FP in `__ipow__`
  src/numpy-stubs/@test/runtime/legacy/arithmetic.py
Due: ruff-check, ruff-format, ignore-format

✨ specialized scalar `dtype` types
  src/numpy-stubs/@test/static/accept/scalars.pyi
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

✨ use specialized `dtype` types in `c_names_dict`
  src/numpy-stubs/_core/_type_aliases.pyi
Due: ruff-check, ruff-format, ignore-format

🚚 rename the user-guide dir to match numpy's `user`
  docs/.nav.yml
  docs/index.md
  docs/user/differences.md
  docs/user/index.md
Due: dprint-format, docs-check

🚚 nest the docs images, css and html under `theme`
  docs/theme/img/favicon.ico
  docs/theme/img/icon.svg
  docs/theme/img/logo-numtype.svg
  docs/theme/overrides/main.html
  docs/theme/style/color.css
  docs/theme/style/font.css
  docs/theme/style/overrides.css
  docs/theme/style/theme.css
  mkdocs.yml
Due: dprint-format, docs-check

🚨 fix squigly lines
  mkdocs.yml
Due: dprint-format, docs-check

📝 style guide
  CONTRIBUTING.md
  docs/.nav.yml
  docs/contributing.md
  docs/dev/index.md
  docs/dev/style.md
  docs/index.md
Due: dprint-format, docs-check

📝 fix numtype logo url
  README.md
Due: dprint-format

📝 fix numtype logo url (#517)
  README.md
Due: dprint-format

🎨 simplify `iinfo` and `finfo`
  src/numpy-stubs/_core/getlimits.pyi
Due: ruff-check, ruff-format, ignore-format

💥 remove `NBitBase`
  src/_numtype/__init__.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/@test/static/accept/ndarray_conversion.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/__init__.pyi
  src/numpy-stubs/_typing/_nbit.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/random/_generator.pyi
  src/numpy-stubs/typing/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🙈 put `NBitBase` on the allowlist
  tool/allowlists/common.txt
Due: none

🎨 refactor `from _numtype import` in `polynomial`
  src/numpy-stubs/polynomial/_polybase.pyi
  src/numpy-stubs/polynomial/chebyshev.pyi
  src/numpy-stubs/polynomial/hermite.pyi
  src/numpy-stubs/polynomial/hermite_e.pyi
  src/numpy-stubs/polynomial/laguerre.pyi
  src/numpy-stubs/polynomial/legendre.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
  src/numpy-stubs/polynomial/polyutils.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `matrixlib`
  src/numpy-stubs/matrixlib/defmatrix.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `linalg`
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/linalg/_umath_linalg.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `emath`
  src/numpy-stubs/lib/_scimath_impl.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `lib`
  src/numpy-stubs/lib/_arraysetops_impl.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_nanfunctions_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_shape_base_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `ma`
  src/numpy-stubs/ma/core.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `_core`
  src/numpy-stubs/_core/_asarray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
Due: ruff-check, ruff-format, ignore-format
