Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, markdown-lint

ruff-check:
  run: uv run --no-group=orjson ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run --no-group=orjson ruff format {staged_files}
  stage_fixed: true

markdown-lint:
  run: uv run --no-group=orjson mdformat {staged_files}
  stage_fixed: true

📝 update section header for `Tox` (#428)
  CONTRIBUTING.md
Due: markdown-lint

📈 configure GA4
  mkdocs.yml
Due: none

📈 configure GA4 (#429)
  mkdocs.yml
Due: none

🔒️ cookie consent banner
  mkdocs.yml
Due: none

🍱 self-host external assets
  mkdocs.yml
Due: none

👷 add preview for docs
  .github/workflows/preview-docs.yml
Due: none

📦 reoganize development dependency groups
  .github/workflows/ci.yml
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

🧑‍💻 run mypy with `--no-sync` in vscode
  .vscode/settings.json
Due: none

➕ add missing `typing_extensions` dev dependency to the `pytest` group
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

➕ add missing `pytest` dev dependency to the `basedpyright` and `mypy` groups
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

📝 fix mkdocs `site_url`
  mkdocs.yml
Due: none

🛂 less pedantic copyright text
  mkdocs.yml
Due: none

💄 underline links in text
  docs/style/theme.css
Due: none

➕ add `pygments` as `docs` dependency for code highlighting
  pyproject.toml
  uv.lock
Due: none

📝 document some of the differences with NumPy
  docs/index.md
  docs/user_guide.md
  docs/user_guide/differences.md
  docs/user_guide/index.md
  mkdocs.yml
Due: markdown-lint

💄 inline code highlighting
  docs/user_guide/differences.md
  mkdocs.yml
Due: markdown-lint

✏️ fix typos
  docs/user_guide/differences.md
Due: markdown-lint

📝 add instructions for previewing documentation
  CONTRIBUTING.md
Due: markdown-lint

📝 remove invalid link
  CONTRIBUTING.md
Due: markdown-lint

📝 update links in CONTRIBUTING.md for consistency and clarity
  CONTRIBUTING.md
Due: markdown-lint

👷 update dependabot configuration to allow all dependency types
  .github/dependabot.yml
Due: none

📝 add instructions for previewing documentation (#435)
  CONTRIBUTING.md
Due: markdown-lint

👷 update dependabot configuration to allow all dependency types (#437)
  .github/dependabot.yml
Due: none

📝 update reference links in `CONTRIBUTING.md` (#436)
  CONTRIBUTING.md
Due: markdown-lint

📝 fix outdated reference to `README.md` in the contributing guide on documentation
  CONTRIBUTING.md
Due: markdown-lint

📝 fix outdated reference to `README.md` in the contributing guide on documentation (#440)
  CONTRIBUTING.md
Due: markdown-lint

⬆️ bump `mkdocs-material` to `9.6.10`
  uv.lock
Due: none

📝 update reference link order
  CONTRIBUTING.md
Due: markdown-lint

⬆️ bump `mkdocs-material` to `9.6.10` (#441)
  uv.lock
Due: none

📝 update reference link order (#442)
  CONTRIBUTING.md
Due: markdown-lint

🗑️ update deprecation message for `NBitBase`
  src/numpy-stubs/_typing/_nbit_base.pyi
Due: ruff-check, ruff-format

📝 add documentation link for `NBitBase` deprecation
  src/numpy-stubs/_typing/_nbit_base.pyi
Due: ruff-check, ruff-format

🗑️ mark `NBitBase` as deprecated in type stubs (#425)
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
Due: ruff-check, ruff-format

Revert ":arrow_up: Bump astral-sh/setup-uv from 5 to 6 (#438)"
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yml
Due: none

Revert ":arrow_up: Bump astral-sh/setup-uv from 5 to 6 (#438)" (#445)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yml
Due: none

💚 fix lefthook `uv run` commands
  lefthook.yml
Due: none

💚 fix lefthook `uv run` commands (#444)
  lefthook.yml
Due: none

🤖 enable `inexact` binop type-test generation
  tool/testgen.py
Due: ruff-check, ruff-format

🐴 special-case mypy false-positive `operator` error for `inexact` x `inexact` binop
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_modular.pyi
  tool/testgen.py
Due: ruff-check, ruff-format

🧪 generate `inexact` binop type-tests
  test/generated/scalar_ops_arithmetic.pyi
  test/generated/scalar_ops_bitwise.pyi
  test/generated/scalar_ops_comparison.pyi
  test/generated/scalar_ops_modular.pyi
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}
  markdown-lint: any of: *.md
