Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, dprint-format, ignore-format, docs-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ruff-check:
      glob: "*.{py,pyi}"
      run: uv run --no-sync ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.{py,pyi}"
      run: uv run --no-sync ruff format {staged_files}
      stage_fixed: true
    dprint-format:
      glob: "*.{md,json,yml,yaml,toml}"
      run: uv run --no-sync dprint fmt {staged_files}
      stage_fixed: true
    ignore-format:
      glob: "*.{py,pyi}"
      run: uv run --no-sync tool/format_ignores.py {staged_files}
      stage_fixed: true
    docs-check:
      glob:
        - "docs/**"
        - "mkdocs.yml"
        - "CONTRIBUTING.md"
      run: uv run --no-sync mkdocs build

post-checkout:
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

post-merge:
  files: "git diff-tree -r --name-only --no-commit-id ORIG_HEAD HEAD"
  commands:
    dependencies:
      glob: uv.lock
      run: uv sync

🎨 refactor `from _numtype import` in `fft`
  src/numpy-stubs/fft/_helper.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `ctypeslib`
  src/numpy-stubs/ctypeslib.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 refactor `from _numtype import` in `@test`
  src/numpy-stubs/@test/static/accept/arraysetops.pyi
  src/numpy-stubs/@test/static/accept/linalg.pyi
Due: ruff-check, ruff-format, ignore-format

🔧 enforce `import _numtype as _nt`
  pyproject.toml
Due: dprint-format

✅ minor test fixes
  src/numpy-stubs/@test/static/accept/polynomial_polybase.pyi
  src/numpy-stubs/@test/static/reject/lib_function_base.pyi
Due: ruff-check, ruff-format, ignore-format

🐴 workarounds for mypy...
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 simplify `ctypeslib.as_ctypes_type` using `_numtype.ToDType*`
  src/numpy-stubs/@test/static/accept/ctypeslib.pyi
  src/numpy-stubs/ctypeslib.pyi
Due: ruff-check, ruff-format, ignore-format

🩹 use `Any` as contravariant type parameter default (LSP)
  src/_numtype/op.pyi
Due: ruff-check, ruff-format, ignore-format

✨ scalar-type embeded `ctypes` types
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

🎨 massively simplify `ctypeslib.as_ctypes`
  src/numpy-stubs/ctypeslib.pyi
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `ruff` to `0.11.6`
  pyproject.toml
  uv.lock
Due: dprint-format

⬆️ bump `ruff` to `0.11.6` (#525)
  pyproject.toml
  uv.lock
Due: dprint-format

✨ improved `cov` and `corrcoef` annotations
  src/numpy-stubs/@test/static/accept/lib_function_base.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `basedpyright` to `1.29.0`
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

🔧 enalbe the new basedpyright diagnostic rules
  pyproject.toml
Due: dprint-format

🚨 fix new typing errors
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/lib/mixins.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `basedpyright` to `1.29.1`
  pyproject.toml
  uv.lock
Due: dprint-format

🩹 remove abstract scalar `__init__` methods
  src/numpy-stubs/@test/static/reject/scalars.pyi
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `numpy` to `2.2.5`
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

⬆️ bump `numtype` to `2.2.5.0.dev0`
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

♻️ restructured `_numtype` shape-type aliases
  src/_numtype/@test/test_to_array.pyi
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/_numtype/_shape.pyi
  src/numpy-stubs/@test/static/accept/linalg.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/linalg/_linalg.pyi
Due: ruff-check, ruff-format, ignore-format

Merge pull request #529 from numpy/_numtype.shape
  src/_numtype/@test/test_to_array.pyi
  src/_numtype/__init__.pyi
  src/_numtype/_nep50.pyi
  src/_numtype/_shape.pyi
  src/numpy-stubs/@test/static/accept/linalg.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/linalg/_linalg.pyi
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `astral-sh/setup-uv` to `v6`
  .github/workflows/ci.yml
Due: dprint-format

💚 no `--no-dev`
  .github/workflows/ci.yml
Due: dprint-format

🔨 fix `StopIteration` in `tool/stubtest.py` if no `.venv` exists
  tool/stubtest.py
Due: ruff-check, ruff-format, ignore-format

🐴 work around mypy's greedy type-inference
  tool/stubtest.py
Due: ruff-check, ruff-format, ignore-format

👔 add `py.typed` to the `_?numtype` packages
  src/_numtype/py.typed
  src/numtype/py.typed
Due: none

🎨 prefer `_numtype.Shape*` over int tuples as shape type
  src/_numtype/__init__.pyi
  src/numpy-stubs/@test/runtime/legacy/arrayterator.py
  src/numpy-stubs/@test/runtime/legacy/lib_user_array.py
  src/numpy-stubs/@test/runtime/legacy/ndarray_shape_manipulation.py
  src/numpy-stubs/@test/runtime/legacy/recfunctions.py
  src/numpy-stubs/@test/runtime/legacy/shape.py
  src/numpy-stubs/@test/static/accept/array_constructors.pyi
  src/numpy-stubs/@test/static/accept/char.pyi
  src/numpy-stubs/@test/static/accept/comparisons.pyi
  src/numpy-stubs/@test/static/accept/rec.pyi
  src/numpy-stubs/@test/static/accept/scalars.pyi
  src/numpy-stubs/@test/static/accept/strings.pyi
  src/numpy-stubs/@test/static/accept/ufunclike.pyi
  src/numpy-stubs/@test/static/reject/chararray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/defchararray.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/strings.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/recfunctions.pyi
  src/numpy-stubs/ma/testutils.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  tool/ufunc.py
Due: ruff-check, ruff-format, ignore-format

👔 add `py.typed` to the `_?numtype` packages (#533)
  src/_numtype/py.typed
  src/numtype/py.typed
Due: none

🎨 prefer `_numtype.Shape*` over int tuples as shape type (#532)
  src/_numtype/__init__.pyi
  src/numpy-stubs/@test/runtime/legacy/arrayterator.py
  src/numpy-stubs/@test/runtime/legacy/lib_user_array.py
  src/numpy-stubs/@test/runtime/legacy/ndarray_shape_manipulation.py
  src/numpy-stubs/@test/runtime/legacy/recfunctions.py
  src/numpy-stubs/@test/runtime/legacy/shape.py
  src/numpy-stubs/@test/static/accept/array_constructors.pyi
  src/numpy-stubs/@test/static/accept/char.pyi
  src/numpy-stubs/@test/static/accept/comparisons.pyi
  src/numpy-stubs/@test/static/accept/rec.pyi
  src/numpy-stubs/@test/static/accept/scalars.pyi
  src/numpy-stubs/@test/static/accept/strings.pyi
  src/numpy-stubs/@test/static/accept/ufunclike.pyi
  src/numpy-stubs/@test/static/reject/chararray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/defchararray.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/strings.pyi
  src/numpy-stubs/lib/_arrayterator_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/recfunctions.pyi
  src/numpy-stubs/ma/testutils.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  tool/ufunc.py
Due: ruff-check, ruff-format, ignore-format

⬆️ bump development dependencies
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

⬆️ bump development dependencies (#535)
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

⬆️ bump `ruff` to `0.11.8`
  pyproject.toml
  uv.lock
Due: dprint-format

⬆️ bump `ruff` to `0.11.8` (#536)
  pyproject.toml
  uv.lock
Due: dprint-format

📌 drop support for Python 3.10
  .github/workflows/ci.yml
  docs/dev/index.md
  docs/user/differences.md
  pyproject.toml
  tool/stubtest.py
  tool/stubtest.py.lock
  tool/ufunc.py
  tool/ufunc.py.lock
  uv.lock
Due: ruff-check, ruff-format, dprint-format, ignore-format, docs-check

replace testgen `typing_extensions` imports
  src/numpy-stubs/@test/generated/emath.pyi
  src/numpy-stubs/@test/generated/literal_bool_ops.pyi
  src/numpy-stubs/@test/generated/ndarray_abs.pyi
  src/numpy-stubs/@test/generated/ndarray_add.pyi
  src/numpy-stubs/@test/generated/ndarray_and.pyi
  src/numpy-stubs/@test/generated/ndarray_divmod.pyi
  src/numpy-stubs/@test/generated/ndarray_floordiv.pyi
  src/numpy-stubs/@test/generated/ndarray_invert.pyi
  src/numpy-stubs/@test/generated/ndarray_lshift.pyi
  src/numpy-stubs/@test/generated/ndarray_matmul.pyi
  src/numpy-stubs/@test/generated/ndarray_mod.pyi
  src/numpy-stubs/@test/generated/ndarray_mul.pyi
  src/numpy-stubs/@test/generated/ndarray_neg.pyi
  src/numpy-stubs/@test/generated/ndarray_or.pyi
  src/numpy-stubs/@test/generated/ndarray_pos.pyi
  src/numpy-stubs/@test/generated/ndarray_pow.pyi
  src/numpy-stubs/@test/generated/ndarray_rshift.pyi
  src/numpy-stubs/@test/generated/ndarray_sub.pyi
  src/numpy-stubs/@test/generated/ndarray_truediv.pyi
  src/numpy-stubs/@test/generated/ndarray_xor.pyi
  src/numpy-stubs/@test/generated/scalar_ops_arithmetic.pyi
  src/numpy-stubs/@test/generated/scalar_ops_bitwise.pyi
  src/numpy-stubs/@test/generated/scalar_ops_comparison.pyi
  src/numpy-stubs/@test/generated/scalar_ops_modular.pyi
  tool/testgen.py
Due: ruff-check, ruff-format, ignore-format

📦 use `uv_build` as build-backend (but it's failing)
  pyproject.toml
Due: dprint-format

✨ towards a broadcasting-aware rank-typing framwork
  src/_numtype/@test/test_rank.pyi
  src/_numtype/_rank.pyi
Due: ruff-check, ruff-format, ignore-format

Updated pyproject.toml
  pyproject.toml
Due: dprint-format
