Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, dprint-format, ignore-format, docs-check

ruff-check:
  run: uv run --no-sync ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run --no-sync ruff format {staged_files}
  stage_fixed: true

dprint-format:
  run: uv run --no-sync dprint fmt {staged_files}
  stage_fixed: true

ignore-format:
  run: uv run --no-sync tool/format_ignores.py {staged_files}
  stage_fixed: true

docs-check:
  run: uv run --no-sync mkdocs build

👽️ add `linalg.lapack_lite.LapackError`
  src/numpy-stubs/linalg/lapack_lite.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ remove `__[i]div__` and `tostring` methods in `ma.MaskedArray`
  src/numpy-stubs/ma/core.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ remove `ma.timer_comparison` module
  src/numpy-stubs/ma/timer_comparison.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ remove `polynomial._polybase.ABCPolyBase.__rdiv__` method
  src/numpy-stubs/polynomial/_polybase.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ numpy 2.3 changes in `testing._private`
  src/numpy-stubs/testing/_private/extbuild.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ numpy 2.3 changes in `testing.utils`
  src/numpy-stubs/testing/_private/utils.pyi
Due: ruff-check, ruff-format, ignore-format

🏷️ stub `lib._format_impl` private module
  src/numpy-stubs/lib/_format_impl.pyi
  src/numpy-stubs/lib/format.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ add `strings.slice`
  src/numpy-stubs/_core/strings.pyi
  src/numpy-stubs/strings/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ add `containsderivedtypes` to `f2py.auxfuncs`
  src/numpy-stubs/f2py/auxfuncs.pyi
Due: ruff-check, ruff-format, ignore-format

👽️ remove `run_command` in `f2py.diagnose`
  src/numpy-stubs/f2py/diagnose.pyi
Due: ruff-check, ruff-format, ignore-format

✨ system-dependent extended precision scalar types
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/__init__.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/numerictypes.pyi
  src/numpy-stubs/core/numeric.pyi
  src/numpy-stubs/core/numerictypes.pyi
  src/numpy-stubs/matlib.pyi
  tool/allowlists/common.txt
Due: ruff-check, ruff-format, ignore-format

👽️ remove unused p311 allowlist entry
  tool/allowlists/lt-py312.txt
Due: none

👽️ update `__array_api_version__`
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format, ignore-format

⏪ revert the system-dependent extended-precision changes
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/__init__.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/_core/numerictypes.pyi
  src/numpy-stubs/core/numeric.pyi
  src/numpy-stubs/core/numerictypes.pyi
  src/numpy-stubs/matlib.pyi
  tool/allowlists/common.txt
Due: ruff-check, ruff-format, ignore-format

⬆️ bump `basedpyright` to `1.29.4`
  pyproject.toml
  uv.lock
Due: dprint-format

🔧 some dependabot tweaks
  .github/dependabot.yml
Due: dprint-format

🙈 `mypy --exclude-gitignore`
  pyproject.toml
Due: dprint-format

✨♻️ ufunc improvements
  src/numpy-stubs/_core/umath.pyi
  src/numpy-stubs/_typing/_ufunc.pyi
  src/numpy-stubs/linalg/_umath_linalg.pyi
Due: ruff-check, ruff-format, ignore-format

🚨 work around overload spec non-conformance
  src/_numtype/__init__.pyi
  src/numpy-stubs/@test/static/accept/multiarray.pyi
  src/numpy-stubs/@test/static/accept/ufuncs.pyi
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format, ignore-format

🐴 ignore a false positive `overload-overlap`
  src/numpy-stubs/lib/_function_base_impl.pyi
Due: ruff-check, ruff-format, ignore-format

🔧 remove invalid depandabot property
  .github/dependabot.yml
Due: dprint-format

✨ ufunc `out=...` support
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format, ignore-format

🐛 fix `nditer.__next__` return type
  src/numpy-stubs/@test/static/accept/multiarray.pyi
  src/numpy-stubs/@test/static/accept/nditer.pyi
  src/numpy-stubs/@test/static/reject/multiarray.pyi
  src/numpy-stubs/@test/static/reject/nditer.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
Due: ruff-check, ruff-format, ignore-format

⬆️ upgrade `numpy` and development dependcies
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

🏷️ address new `stubtest` errors related to `numpy==2.3.1`
  src/numpy-stubs/testing/__init__.pyi
  src/numpy-stubs/testing/_private/utils.pyi
Due: ruff-check, ruff-format, ignore-format

🐛 fix `count_nonzero` return type
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/numeric.pyi
Due: ruff-check, ruff-format, ignore-format

✅ update type-tests for `count_nonzero`
  src/numpy-stubs/@test/static/accept/numeric.pyi
Due: ruff-check, ruff-format, ignore-format

📝 remove unstub instructions for mypy in contributing guide
  docs/dev/index.md
  tool/README.md
Due: dprint-format, docs-check

🔥 remove unstub.py as unnecessary
  tool/unstub.py
Due: ruff-check, ruff-format, ignore-format

⬆️ numpy 2.3.2
  pyproject.toml
  uv.lock
Due: dprint-format

📌 pin CI action versions
  .github/workflows/ci.yml
Due: dprint-format

⬆️ upgrade all outdated development dependencies
  pyproject.toml
  tool/stubtest.py
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: ruff-check, ruff-format, dprint-format, ignore-format

🔧 improved lefthook config
  lefthook.yml
Due: dprint-format

✨ Python 3.14 support
  .github/workflows/ci.yml
  pyproject.toml
Due: dprint-format

⏪ revert taplo upgrade in CI
  .github/workflows/ci.yml
Due: dprint-format

🩹 avoid `pydantic_core` py314 build errors
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: dprint-format

🐴 workaround for stubtest false positives on `python>=3.14`
  tool/allowlists/py311.txt
  tool/allowlists/py312.txt
  tool/allowlists/py313.txt
  tool/allowlists/py314.txt
  tool/stubtest.py
Due: ruff-check, ruff-format, ignore-format

🚨 appease `taplo`
  pyproject.toml
Due: dprint-format

👷 limit type-checking to only two python versions
  .github/workflows/ci.yml
Due: dprint-format

🚀 add `dprint`
  .github/workflows/ci.yml
  .vscode/extensions.json
  dprint.json
  lefthook.yml
  pyproject.toml
  uv.lock
Due: dprint-format

Path conditions:
  ruff-check: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}
  dprint-format: any of: *.{md,json,yml,yaml,toml}
  ignore-format: any of: *.{py,pyi}
  docs-check: any of: docs/**, mkdocs.yml, CONTRIBUTING.md
