Repository numpy/numtype: changes, and which lefthook commands are due for each by the changed paths.
All: ruff-check, ruff-format, markdown-lint

ruff-check:
  run: uv run --no-group=orjson ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run --no-group=orjson ruff format {staged_files}
  stage_fixed: true

markdown-lint:
  run: uv run --no-group=orjson mdformat {staged_files}
  stage_fixed: true

✏️ fix typo's
  tool/testgen.py
Due: ruff-check, ruff-format

🏷️ stub _core.umath._[{l,r}]strip_whitespace
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format

⏪ revert the removed pyright false-positive workaround for scalar binop tests
  tool/testgen.py
Due: ruff-check, ruff-format

🧪 regenerate the scalar binop tests
  test/generated/scalar_binops.pyi
Due: ruff-check, ruff-format

🐛 turn no.str_ to Any
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format

🎨 move `complexfloating` towards `floating`
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format

🏷️ stub _core.umath._[{l,r}]strip_whitespace (#404)
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format

🤖 use *join* instead of *union* as expected `assert_type` for abstract scalars binops
  tool/testgen.py
Due: ruff-check, ruff-format

🐛 fix scalar binop signatures for `[complex]floating`
  src/numpy-stubs/__init__.pyi
  test/static/accept/mod.pyi
Due: ruff-check, ruff-format

🐴 ignore some mypy errors (some are true positives)
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format

🐴 work around some of the mypy-induced type-test failures
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format

🐴 skip scalar binop test generation for `_ == [complex]floating` to avoid a mypy bug
  test/generated/scalar_binops.pyi
  tool/testgen.py
Due: ruff-check, ruff-format

💥 concrete `signedinteger` scalar types
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format

🐴 remove some unused `# type: ignore`
  src/numpy-stubs/ctypeslib.pyi
Due: ruff-check, ruff-format

🚨 work around new test failures caused by microsoft/pyright#9896
  test/static/accept/mod.pyi
Due: ruff-check, ruff-format

💥 concrete `unsignedinteger` scalar types
  src/numpy-stubs/__init__.pyi
Due: ruff-check, ruff-format

🔥 remove the now-resolved allowlist
  tool/allowlists/common-todo.txt
  tool/stubtest.py
Due: ruff-check, ruff-format

🔥 remove `numtype.NBitBase`
  src/numtype/__init__.py
Due: ruff-check, ruff-format

⚰️ remove the old `NBitBase` subclass definitions and references
  src/numpy-stubs/_core/getlimits.pyi
  src/numpy-stubs/_typing/__init__.pyi
  src/numpy-stubs/_typing/_array_like.pyi
  src/numpy-stubs/_typing/_nbit.pyi
  src/numpy-stubs/_typing/_nbit_base.pyi
  test/static/accept/nbit_base_example.pyi
Due: ruff-check, ruff-format

✅ fix failing `numtype` test
  test/runtime/test_numtype.py
Due: ruff-check, ruff-format

♻️ prefer using concrete scalar types instead of `_numtype`'s abstract aliases
  src/_numtype/__init__.pyi
  src/_numtype/_scalar.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/__init__.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_polynomial_impl.pyi
  src/numpy-stubs/lib/_scimath_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
Due: ruff-check, ruff-format

♻️ clean redundant `[u]intp` aliases in `_numtype`
  src/_numtype/__init__.pyi
  src/_numtype/_scalar_co.pyi
  src/numpy-stubs/_core/_asarray.pyi
  src/numpy-stubs/_core/_multiarray_umath.pyi
  src/numpy-stubs/_core/fromnumeric.pyi
  src/numpy-stubs/_core/numeric.pyi
  src/numpy-stubs/fft/_helper.pyi
  src/numpy-stubs/lib/_arraysetops_impl.pyi
  src/numpy-stubs/lib/_function_base_impl.pyi
  src/numpy-stubs/lib/_index_tricks_impl.pyi
  src/numpy-stubs/lib/_twodim_base_impl.pyi
  src/numpy-stubs/lib/_type_check_impl.pyi
  src/numpy-stubs/lib/_ufunclike_impl.pyi
  src/numpy-stubs/linalg/_linalg.pyi
  src/numpy-stubs/matrixlib/defmatrix.pyi
  src/numpy-stubs/polynomial/polynomial.pyi
Due: ruff-check, ruff-format

🐛 update `format_ignores.py` to accept multiple paths as input
  tool/format_ignores.py
Due: ruff-check, ruff-format

🏷️ stub _[{l,r}]strip_chars
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format

🔧 update _UFunc21String protocol overloads
  src/numpy-stubs/_core/umath.pyi
Due: ruff-check, ruff-format

⬆️ bump `baseedpyright` to `1.28.4`
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

Merge pull request #414 from numpy/basedpyright-1.28.4
  pyproject.toml
  tool/stubtest.py.lock
  tool/ufunc.py.lock
  uv.lock
Due: none

➕ add mkdocs dependencies
  pyproject.toml
  uv.lock
Due: none

🚚 rename `doc` to `docs`
  .vscode/settings.json
  README.md
  docs/.markdownlint.yaml
  docs/img/logo-numtype.svg
Due: markdown-lint

🙈 gitignore `site/`
  .gitignore
Due: none

📝 setup mkdocs and mimick `pydata-sphinx-theme`
  CONTRIBUTING.md
  docs/contributing.md
  docs/img/favicon.ico
  docs/img/icon.svg
  docs/index.md
  docs/reference.md
  docs/style/theme.css
  docs/user_guide.md
  mkdocs.yml
Due: markdown-lint

🧑‍💻 add `vscode-yaml` as recommended vscode extension
  .vscode/extensions.json
Due: none

🔥 stop using `mdformat`
  lefthook.yml
Due: none

⏪ undo the damage that `mdformat` has done
  CONTRIBUTING.md
  docs/contributing.md
  docs/index.md
  docs/reference.md
  docs/user_guide.md
Due: markdown-lint

👷 fix `.markdownlint.yaml` reference
  .github/workflows/ci.yml
Due: none

🐛 update `format_ignores.py` to accept multiple paths as input (#412)
  tool/format_ignores.py
Due: ruff-check, ruff-format

🤖 also generate scalar binop tests for `!=`
  test/generated/scalar_binops.pyi
  tool/testgen.py
Due: ruff-check, ruff-format

🙈 disable `TRY003` in `tool/`
  tool/ruff.toml
  tool/stubtest.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}
  markdown-lint: any of: *.md
